<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD76fxd3C3ZvpGfiOzhco2n5iYrhTC0wU8</string>
	<key>GCM_SENDER_ID</key>
	<string>954623299200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.codelab.Notes</string>
	<key>PROJECT_ID</key>
	<string>pfr-codelab-fvs-mobile-01</string>
	<key>STORAGE_BUCKET</key>
	<string>pfr-codelab-fvs-mobile-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954623299200:ios:cbfe7821844cbc50a0e065</string>
</dict>
</plist>